h1 {
    text-align: center;
}

table {
    text-align: center;
}

.m10 {
    background-color: coral;
}

.Tut {
    background-color:red;
}

.m08 {
    background-color: darkorchid;
}

.m07 {
    background-color: palevioletred;
}

.m06 {
    background-color: cornflowerblue;
}

.m04 {
    background-color: gold;
}

.patio {
    background-color: green;
}

.or22 {
    font-style: italic;
}