.navbar-light{
    background-color: #78866b;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 3;
}
body{
    background-image: url(../imagenes/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 800px;

}
h3{
    color: white;
    background-color: rgb(6, 129, 111);
    width: 47%; 
    text-align: center;

}
h4{
    color: white;
    background-color: rgb(6, 129, 111);
    width: 82%; 
    text-align: center;
    margin-top: 10%;
    margin-left: 9%;
}

#rangos{
    display: block;
    margin: auto;
}