.navbar-light{
    background-color: #78866b;
}
h1{
    color: orange;
    text-align: center;
}
body{
    background-image: url(../imagenes/fondo1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
h3{
    color: white;
    background-color: rgb(6, 129, 111);
    width: 47%; 
    text-align: center;

}
.backcol{
   color: white;
   /*width: 100%; */
   text-align: justify;
   background-color: rgba(40, 167, 15, 0.3);

}

iframe{
    margin-left: 0%;
    position: absolute;
    top: 11.5%;
}

h4{
    color: white;
    background-color: red;
    text-align: center;
    display: block;
    margin: auto;
    margin-left: 85px;
    margin-right: 85px;
}

#rangos{
    display: block;
    margin: auto;
}