body{
    font-family: 'Indie Flower', cursive;
}

table {
    text-align: center;
    border: 1px solid;
}
td {
    border: 1px solid;
}

img{
    width: 800px;
    height: 480px;
}

h1{
    text-align: center;
}

.t{
    background-color: black;

}

a{
    color:rgb(129, 59, 59);
}

a:hover{
    color: green;
}

.l:hover{
    color: green;
    background-color:white ;
}