body{
    font-family: 'Indie Flower', cursive;
}

table {
    text-align: center;
    border: 1px solid;
}
td {
    border: 1px solid;
}

img{
    width: 800px;
    height: 480px;
}

h1{
    text-align: center;
}

.t{
    background-color: black;

}



.a:hover{
    color: yellow;
}

.l:hover{
    color: yellow;
    background-color:black;
}