.env{
    background-color: black;
    color: white; 
}

.borr{

   background-color: black;
   color: white; 
}

.datos{
    background-color: black;
    color: white;
}

.basi{
    background-color: black;
    color: white;
}

